html{
  font-size: 62.5%;
}

  body{
    margin: 0;
    font-size: 2rem;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

section.navbar{
    padding: 20px 0px;
    background-color: #fffefd;
    width: 100%;
}

section.navbar .row{
    display: flex;
    justify-content: space-between;
}

section.navbar a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

section.navbar .links a{
    margin-left: 20px;
    opacity: .4;
}

section.navbar .links a:hover{
    opacity: 1;
    color: #5d4be0;
}

section.jumbotron{
    width: 100%;
    height: 80vh;
    padding-top: 20rem;
    padding-bottom: 40rem;
    background-image: url(./Images/header-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 25%;
}

section.jumbotron h1{
  font-size: 10rem;
  font-weight: 900;
  color: white;
  text-align: left;
}

section.about{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fffefd;
}

section.about h1{
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

section.about p{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

section.experience{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #5d4be0;
  color: #fffefd;
}

section.experience h1{
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

section.experience p{
  padding-top: .5rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

section.experience p2{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

section.experience i{
  font-size: 10rem;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: inline-block;
  width: 100%;
  text-align: center;
}

section.meeting{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fffefd;
}

section.meeting h1{
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

section.meeting p{
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-weight: bold;
}

section.meeting li{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

section.footer{
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #5d4be0;
  text-align: center;
}

section.footer h1{
  color: white;
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 3rem;
  text-align: center;
}

section.footer i{
  font-size: 4rem;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

section.footer p{
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: white;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
}
a:active {
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

@media screen and (max-width: 60rem) {
    section.jumbotron h1{
      font-size: 4rem;
    }
    section.about h1{
      font-size: 3rem;
    }
    section.about p{
      font-size: 2rem;
    }
    section.about li{
      font-size: 1.5rem;
    }
    section.experience h1{
      font-size: 3rem;
    }
    section.experience p{
      font-size: 2rem;
    }
    section.experience li{
      font-size: 2rem;
    }
    section.experience i{
      font-size: 13rem;
    }
    section.meeting h1{
      font-size: 3rem;
    }
    section.meeting p{
      font-size: 2rem;
    }
    section.meeting li{
      font-size: 2rem;
    }
    section.footer h1{
      font-size: 3rem;
    }
    section.footer p{
      font-size: 2rem;
    }
    section.footer i{
      font-size: 3.5rem;
    }
    section.navbar{
      font-size: 1.5rem;
      padding-left: .9rem;
    }
  }
