@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');

html{
  font-size: 62.5%;
}

  body{
    margin: 0;
    font-size: 2rem;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

section.navbar{
    padding: 20px 0px;
    background-color: #fffefd;
    width: 100%;
}

section.navbar .row{
    display: flex;
    justify-content: space-between;
}

section.navbar a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

section.navbar .links a{
    margin-left: 20px;
    opacity: .4;
}

section.navbar .links a:hover{
    opacity: 1;
    color: #5d4be0;
}

section.jumbotron{
    width: 100%;
    height: 80vh;
    padding-top: 20rem;
    padding-bottom: 40rem;
    background-image: url(./Images/header-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 25%;
}

section.jumbotron img{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section.jumbotron a{
  text-decoration: none;
  color: #5d4be0;
}

section.jumbotron p{
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: white;
  border-radius: 2rem;
  font-size: 2.35rem;
  font-weight: 700;
  text-align: center;
}

section.about{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fffefd;
}

section.about h1{
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

section.about p{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

section.experience{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #5d4be0;
  color: #fffefd;
}

section.experience h1{
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 4rem;
}

section.experience h2{
  padding-top: .5rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
}

section.experience p{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

section.experience i{
  font-size: 8rem;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: inline-block;
  width: 100%;
  text-align: center;
}

section.meeting{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fffefd;
}

section.meeting h1{
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

section.meeting p{
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-weight: bold;
}

section.meeting li{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

section.footer{
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #303030;
  text-align: center;
}

section.footer h1{
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  padding-top: 3.5rem;
  text-align: center;
}

section.footer i{
  font-size: 4rem;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

section.footer p{
  font-size: 2.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: white;
}

section.footer h2{
  font-size: 4.5rem;
  font-weight: 600;
  padding-top: .5rem;
  padding-bottom: 3rem;
  color: white;
}

section.footer a:link {
    color: white;
}
section.footer a:visited {
    color: white;
}
section.footer a:hover {
    color: white;
}
section.footer a:active {
    color: white;
}

section.footer a:link {
    text-decoration: none;
}

section.footer a:visited {
    text-decoration: none;
}

section.footer a:hover {
    text-decoration: underline;
}

section.footer a:active {
    text-decoration: underline;
}
section.history h1{
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  padding-top: 4rem;
  padding-bottom: 0;
}

/*** timeline css ***/

.timeline{
  position: relative;
  margin: 50px auto;
  padding: 0px 0;
  width: 1000px;
  box-sizing: border-box;
}

/**** adds the line down middle***/
.timeline:before{
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content{
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before{
  content: '';
  position: absolute;
  top: 24px;
  right: -8.5px;
  width: 15px;
  height: 15px;
  background: #5d4be0;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(93,75,224,0.2);
}

.timeline ul li:nth-child(even):before{
  content: '';
  position: absolute;
  top: 24px;
  left: -6.5px;
  width: 15px;
  height: 15px;
  background: rgba(93,75,224,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(93,75,224,0.2);
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: rgba(93,75,224,1);
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}

/*** moves date and adds background around date ****/
.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -210px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(93,75,224,1);
  color: #fff;
  border-radius: 22px;
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -210px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(93,75,224,1);
  color: #fff;
  border-radius: 22px;
}

@media (orientation: portrait) {
.playfield { display: block; }
.overlay { display: none; }
}
@media (orientation: landscape) {
.playfield { display: none; }
.overlay { display: block; }
}

@media screen and (max-width: 60rem){
    section.jumbotron h1{
      font-size: 4rem;
    }
    section.jumbotron img{
      width:100%
    }
    section.jumbotron p{
      font-size: 2rem;
      text-align: center;
    }
    section.about h1{
      font-size: 3rem;
    }
    section.about p{
      font-size: 2rem;
    }
    section.about li{
      font-size: 1.5rem;
    }
    section.experience h1{
      font-size: 3rem;
    }
    section.experience p{
      font-size: 2rem;
    }
    section.experience li{
      font-size: 2rem;
    }
    section.experience i{
      font-size: 13rem;
    }
    section.meeting h1{
      font-size: 3rem;
    }
    section.meeting p{
      font-size: 2rem;
    }
    section.meeting li{
      font-size: 2rem;
    }
    section.footer h1{
      font-size: 3rem;
    }
    section.footer p{
      font-size: 2rem;
    }
    section.footer i{
      font-size: 3.5rem;
    }
    section.navbar{
      font-size: 1.5rem;
      padding-left: .9rem;
    }

    /*** timeline responsiveness***/

    .timeline{
      width: 100%;
      padding-bottom: 0;
    }
    section.history h1{
      text-align: center;
      font-size: 3rem;
      font-weight: 600;
      padding-top: 4rem;
    }
    .timeline:before{
      left: 20px;
    }
    .timeline ul li:nth-child(even),
    .timeline ul li:nth-child(odd){
      width: 100%;
      text-align: left;
      padding-left: 50px;
      padding-bottom: 50px;
    }
    .timeline ul li:nth-child(even):before,
    .timeline ul li:nth-child(odd):before{
      top: -18px;
      left: 14px;
    }
    .timeline ul li:nth-child(even) .time,
    .timeline ul li:nth-child(odd) .time{
      top: -34px;
      left: 50px;
      right: inherit;
    }
  }
